app-requests{
  width: 100%;
  height: calc(100% - 132px);
  margin-top: 20px;
  display: block;
  overflow-y: auto;

  
}

.requests-body{
  width: 100%;

  table{
    width: inherit;
    height: inherit;
    line-height: 1.1;
    gap: 10px;

    thead{
      font-weight: 700;

      th{
        padding: 0 20px;
        text-align: left;

        &:nth-child(1){
          padding-left: 0px;
        }

        &:nth-child(4){
          text-align: center;
        }
      }

    }

    tbody{

      &::before{
        line-height:20px;
        content:"\200C";
        display:block;
      }

      tr{

        td{
          padding: 0 20px;
          padding-bottom: 20px;
          text-overflow: ellipsis;
          white-space: nowrap;
          
          &:nth-child(1){
            display: flex;
            align-items: center;
            padding-left: 0px;
            margin-right: -35px;

            p{

              span{

                &:nth-child(1){
                  font-weight: 700;
                  font-size: 16px;
                }
              }
            }
          }

          &:nth-child(4){
            text-align: center;
          }

          &:nth-child(5){
            overflow: hidden;
            max-width: 400px;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          &:last-child{
            
            button{
              width: 40px;
              height: 40px;
              display: inline-flex;
              justify-content: center;
              align-items: center;

              &:nth-child(1){
                margin-right: 10px;
                background: #00DD8C;
                color: #fff;

                &:hover{
                  background: darken(#00DD8C, 4%);
                }
              }

              &:nth-child(2){
                margin-right: 10px;
                background: #D9D9D9;
                color: #9C9C9C;

                &:hover{
                  background: #FF003B;
                  color: #fff;
                }
              }

              i{
                margin: 0;
              }
            }

          }

        }

      }

    }

    .user-data{
      margin-left: 10px;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      border: 3px solid #DCDDE0;
    }

    p{
      margin: 0;
    }

    span{
      display: block;
      white-space: nowrap;
    }
  }
}

