<div class="controls">
  <div class="left-controls">
    <input type="text" id="search">

    <div class="checkbox">
      <input type="checkbox" (click)="confirmClick($event)">
      <span>Show Confirmed requests only</span>
    </div>

  </div>
</div>

<div class="requests-body">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>From</th>
        <th>To</th>
        <th>Days</th>
        <th>Reason</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let request of requests">
        <td>
          <img [src]="request.image" alt="">
          <p class="user-data">
            <span>{{ request.first_name }} {{ request.last_name }}</span>
            <span>{{ request.email }}</span>
          </p>
        </td>
        <td>{{ request.from_date }}</td>
        <td>{{ request.to_date }}</td>
        <td>{{ diffDates(request.from_date, request.to_date) }}</td>
        <td [title]="request.message">
          {{ request.message }}
        </td>
        <td>
          <button [ngClass]="request.status == '1' ? 'active' : ''" ><i class="far fa-check"></i></button>
          <button [ngClass]="request.status == '2' ? 'active' : ''" ><i class="far fa-times"></i></button>
        </td>

      </tr>

    </tbody>
  </table>
</div>